@font-face {
    font-family: GothicRegular;
    src: url('Fonts/Special_Gothic/SpecialGothic-Regular.ttf');
}

@font-face {
    font-family: GothicCondensed;
    src: url('Fonts/Special_Gothic_Condensed_One/SpecialGothicCondensedOne-Regular.ttf');
}

:root {
    font-family: GothicRegular;
    margin: 0px;
    --light: rgb(232, 232, 237);
    --dark: rgb(56, 56, 56);
    --dark-medium: rgb(61, 61, 75);
    --medium: rgb(105, 105, 121);
    --medium-light: rgb(196, 191, 182);
    --background: rgb(216, 216, 216);
    --accent: rgb(206, 182, 75);
    --accent-2: rgb(129, 69, 34);
}

body {
    height: 0px;
    background: var(--background);
    color: var(--dark)
}

#page {
    position: relative;
    margin-top: 120px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 36px;
    padding: 32px 16px;
    height: auto;
    background-color: var(--light);
    z-index: -3;
    padding-left: 36px;
}

.dark-theme {
    color: var(--light);
}

.light-theme {
    color: var(--dark)
}

h1, h2, h3, h4, :placeholder-shown{
    font-family: GothicCondensed;
    
}
a {
    font-family: GothicCondensed;
    color: var(--dark)
}

h1 {
    font-size: 36px;
}

select, button, input {
    font-family: GothicRegular;
    background-color: var(--light);
    width: auto;
    height: 24px;
    border-radius: 3px;
    border-style: none;
}

input {
    width: 170px;
}


#banner {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    background-color: var(--dark);
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 4px;
    z-index: 2;
    border-bottom: ridge 4px var(--accent);
}

#film-stripe {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.parallelogram {
    width: 50px;
	height: 50px;
	transform: skew(-20deg);
    /* animation: move-right infinite 3s linear; */
}

@keyframes move-right {
    0% {
        translate: 0px;
    }
    100% {
        translate: 60px;
    }
}

.black {
    background-color: rgb(0,0,0,0);
}

.white {
    background-color: var(--light);
}

#search-div {
    position: fixed;
    top: 98px;
    left: 0px;
    right: 0px;
    text-align: right;
    padding: 4px;
    background-color: var(--medium-light);
    z-index: -2;
}

#button-div {
    display: flex;
    flex-direction: row;
    gap: 10%;
    color: var(--dark);
}

.material-symbols-outlined {
    color: var(--light);
    padding: 18px;
    cursor: pointer;
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24;
  font-size: 36px;
}

a > .material-symbols-outlined {
    color: var(--dark);
    font-size: 24px;
    padding: 0px 10px 0px 0px;
}

a > .link{
    position: absolute;
}

a > span {
    margin: 4px;
}

a:hover {
    color: var(--dark-medium);
}
#drawer {
    position: fixed;
    width: 150px;
    height: auto;
    top: -54px;
    left: 20px;
    background-color: var(--accent);
    transition: top 0.3s ease;
    z-index: 1;
}

#drawer[data-open=true]{
    top: 98px;
}

#button-div {
    display: flex;
    flex-direction: column;
    padding: 12px;
}

/* Card formatting */

.card-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: auto;
    margin-right: 36px;
    height: auto;
    font-family: GothicCondensed;
    flex-wrap: wrap;
}

.info-card {
    text-align: center;
    width: auto;
    height: 90%;
    background-color: var(--light);
}

.info-card:hover{
    transform: scale(1.1);
    transition: transform .08s ease-in;
}

.info-card > img {
    
    width: 170px;
    height: auto;
    border-radius: 6px;
}

.info-card > div {
    padding: 8px 0px;
}

.info-card > h3 {
    max-width: 170px;
    word-wrap: break-word;
}

#movie-info-container {
    display: flex;
    flex-direction: row;
}
#movie-info-container > img {
    width: 300px;
    height: 100%;
    border-radius: 6px;
}

#movie-info {
    display: flex;
    flex-direction: column;
    margin: 40px;
}

#movie-credits {
    align-items: flex-start;
    overflow: scroll;
}

#tv-credits{
    align-items: flex-start;
    overflow: scroll;
}

.movie-cast-card {
    width: 150px;
    height: 100%;
    word-wrap: break-word;
    margin: 10px;
}
.movie-cast-card > img {
    width: 100px;
    min-height: auto;
}

.character {
    font-style: italic;
}

.container {
    display: flex;
    align-items: center;
}

.row {
    flex-direction: row;
}

.column {
    flex-direction: column;
}

.right {
    justify-content: flex-end;
}